body {
  background-color: rgb(59, 59, 59);
}


.content {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 20vh;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

.material-symbols-outlined:hover {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 46;
}

.btn-off {
  display: inline-block;;
  border: red 1px solid;
  font-size: 40px !important;
  margin: 5px;
  border-radius: 15px;
  background: white;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.btn-on {
  background: rgba(97, 35, 96, 0.5);
  display: inline-block;;
  border: rgba(124, 58, 123, 0.678) 1px solid;
  font-size: 40px !important;
  margin: 5px;
  border-radius: 15px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

#button {
  font-size: 100px;
  background: transparent;
  padding: 20px;
  border: 0px red solid;
}

.btn-off:hover{
  background: rgb(223, 161, 222);
}

.btn-on:hover{
  background: rgba(223, 161, 222, 1);
  border: 1px red solid;
 }

@media only screen and (max-width: 1080px) {

  .content {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 40vh;
  }

  .btn-off {
    width: 400px;
    height: 400px;
    box-shadow: rgba(240, 46, 170, 0.45) 10px 10px,
    rgba(240, 46, 170, 0.35) 20px 20px,
    rgba(240, 46, 170, 0.3) 30px 30px,
    rgba(240, 46, 170, 0.2) 40px 40px,
    rgba(240, 46, 170, 0.05) 50px 50px;
  }

  #button {
    font-size: 365px;
    background: transparent;
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 0;
  }
}