.btn-group { /* button input[type=submit] { */
  font-weight: 400;
  font-size: 1.3em;
  /* padding: 10px 24px; Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  height: 40px;
  display: block; /* Make the buttons appear below each other */
  border-radius: 20px;
  margin: auto;
  margin-top: 10px;
  position: relative;
}


.btn-off {
  background-color: #680747; /* Green background */
  border: 1px solid #c3195d; /* Green border */
  color: #f70776; /* White text */
}

.btn-off:hover {
  background-color: #ff347f; /* Green background */
  border: 1px solid #c9356c; /* Green border */
  color: #fafafa; /* White text */
}


.btn-on:hover {
  background-color: #f4aeba; /* Green background */
  border: 1px solid #ec729c; /* Green border */
  color: #fdfdcb; /* White text */
}

.btn-on {
  background-color: #e84a5f; /* Green background */
  border: 1px solid #45171d; /* Green border */
  color: #fecea8; /* White text */
}


.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}


body {
  background-color: rgb(59, 59, 59);
}


.content {
  margin: auto;
  width: 50%;
  /* border: black 1px solid; */
  text-align: center;
  padding-top: 100px;
}
