{% extends 'base.html' %}
{% block content %}

   <style>
      .content{
         display: flex;
         flex-wrap: wrap;
         gap: 15px;
      }

      @media only screen and (max-width: 1080px) {
         .content {
             margin-left: 10em;
             gap: 50px;
         }
      }
   </style>
   
   {% for key, device in devices.items() %}
      <sunblind-button title="{{ device.title }}" device-id="{{ key }}" icon-left="{{ device.icon_left }}" icon-right="{{ device.icon_right }}"></sunblind-button>
   {% endfor %}
   
{% endblock %}