{% extends 'base.html' %}
{% block content %}

   <style>
      .content{
         display: flex;
         flex-wrap: wrap;
         gap: 15px;
      }
   </style>
   <sunblind-button title="balcony" device-id="Balcony" icon-left="rotate_left" icon-right="rotate_right"></sunblind-button>
   <sunblind-button title="test" device-id="Test" icon-left="rotate_left" icon-right="rotate_right"></sunblind-button>
   <sunblind-button title="test" device-id="Test" icon-left="rotate_left" icon-right="rotate_right"></sunblind-button>
   <sunblind-button title="test" device-id="Test" icon-left="rotate_left" icon-right="rotate_right"></sunblind-button>
   
{% endblock %}